[submodule "_inc/library/zzbrick"]
	path = _inc/library/zzbrick
	url = https://github.com/koenige/zzbrick
[submodule "_inc/library/zzwrap"]
	path = _inc/library/zzwrap
	url = https://github.com/koenige/zzwrap
[submodule "_inc/library/markdown-extra"]
	path = _inc/library/markdown-extra
	url = https://github.com/michelf/php-markdown
[submodule "_inc/modules/default"]
	path = _inc/modules/default
	url = https://github.com/koenige/modules-default
[submodule "_inc/modules/media"]
	path = _inc/modules/media
	url = https://github.com/koenige/modules-media
[submodule "_inc/modules/zzform"]
	path = _inc/modules/zzform
	url = https://github.com/koenige/zzform
[submodule "www/_behaviour/vxjs"]
	path = www/_behaviour/vxjs
	url = https://github.com/Vectrex/vxJS
[submodule "www/_behaviour/pagedown"]
	path = www/_behaviour/pagedown
	url = https://github.com/StackExchange/pagedown
